<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My DRF API</title>
</head>
<body>
    <h1>Welcome to My DRF API!</h1>
    <p>List of Possible URLs:</p>
    <ul>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      <li><a href="{% url 'profile-list' %}">Profiles</a></li>
      <li><a href="{% url 'post-list' %}">Posts</a></li>
      <li><a href="{% url 'comment-list' %}">Comments</a></li>
      <li><a href="{% url 'follower-list' %}">Follows</a></li>
      <li><a href="{% url 'like-list' %}">Likes</a></li>
    </ul>
</body>
</html>
